version: "3.8"

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  notification-service:
    build: .
    container_name: notification-service
    depends_on:
      - rabbitmq
    volumes:
      - ./logs:/app/logs
    environment:
      RABBITMQ_URL: amqp://guest:guest@rabbitmq:5672
    command: ["sh", "-c", "sleep 10 && bun run start"]
    restart: always
